{% extends "layoutfixe.html" %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Prix</h1>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="row justify-content-center my-5 pb-2">
        <div class="col-md-8 text-center heading-section ftco-animate">

            <h2 class="mb-4">NOTRE TARIFICATION</h2>
        </div>
    </div>
    <div class="row">
        {% for prix in prixs %}
        <div class="col-md-3 ftco-animate">
            <div class="pricing-entry pb-5 text-center">
                <div>
                    <h3 class="mb-4">{{prix.type}}</h3>
                    <p><span class="price">{{prix.prix}} TND</span> <span class="per">/ Jours</span></p>
                </div>
                <ul>
                    <li>{{prix.service1}}</li>
                    <li>{{prix.service2}}</li>
                    <li>{{prix.service3}}</li>
                    <li>{{prix.service4}}</li>

                </ul>

            </div>
        </div>
        {%endfor%}


    </div>
    </div>
</section>
<br><br><br>

{%endblock%}